src/xsd.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Pais">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="DescrisaoDoPais"/>
        <xs:element name="Cidades">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nome" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PontosTuristicos">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nome" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Gastronomia">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Pratos">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="nome" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Sobremesa">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="nome" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>